name: uniprot Testing

on:
  workflow_dispatch:
  push:
    branches:
      - master
    paths:
      - src/bioservices/uniprot.py
  pull_request:
    branches-ignore: []

jobs:
  build-linux:
    runs-on: ubuntu-18.04
    strategy:
      max-parallel: 5
      matrix:
        python: [3.6, 3.7, 3.8]

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.X
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python }}
    - name: Install the package itself and dependencies
      run: |
          pip install .
          pip install -r requirements_dev.txt

    - name: Test with pytest
      run: |
        pytest -n 1  --cov-report term --cov=bioservices.uniprot test/webservices/test_uniprot.py

